# Ignore virtual env folder#
###################
venv_ifs3_imports

# Ignore submodules#
###################
dspace-rest-python

# Ignore data folder#
###################
harvested-data/**
logs/**

# Ignore archived version of notebooks and python stuffs #
###################
*.ipynb_checkpoints
__pycache__

# Ignore some local dev stuffs
###################
.scannerwork
.log
sonar-project.properties
**/*test_*/**
template.py
**/.DS_Store


# Ignore local windows batch files and internal documentation #
###################
**/*.docx
**/*.bat
**/*.ipynb
test.py
test.csv

# Ignore env & config files #
###################
**/.sample.env
**/config.ini