api-client
fuzzywuzzy
ipywidgets
ipykernel
itables
nameparser
pandas
numpy
plotly
python-dotenv
python-Levenshtein
requests
pylint
flake8
nbqa
Unidecode
tenacity
pycountry
openpyxl
xlsxwriter
flask
marimo
lxml